body {
  background-color: lightblue;
}

h1{
  font-family: "Comic Sans MS"
  
}
h2{
  font-family: "Comic Sans MS"
}
p{
  font-family: "Comic Sans MS"
}



h1 #title{
    text-align:center;
}
p #objective{
    text-align:center;
}
#button2 {
  background-color: #FFA500; /* Orange */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Comic Sans MS"
}